# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing
/coverage

# env
.env
.env*.local

# prisma
prisma/*.db

# misc
.DS_Store
/data/zml-export/
zakai-packs/node_modules/
*.pem
npm-debug.log*
*.tsbuildinfo

__pycache__/
*.py[cod]

# Python packaging
*.egg-info/
__pycache__/
*.pyc

