# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing
/coverage

# env
.env
.env*.local

# prisma
prisma/*.db

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
